---
http_interactions:
- request:
    method: get
    uri: http://api.openbeerdatabase.com/v1/breweries/1.json?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"30a59c776162d3e00ef307461b55eca4"'
    body:
      encoding: US-ASCII
      string: ! '{"id":1,"name":"(512) Brewing Company","url":"http://512brewing.com","created_at":"2010-12-07T02:53:38Z","updated_at":"2010-12-07T02:53:38Z"}'
  recorded_at: Sun, 03 Nov 2013 01:06:43 GMT
recorded_with: VCR 2.7.0
