---
http_interactions:
- request:
    method: get
    uri: http://api.openbeerdatabase.com/v1/beers/1.json?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"846980a35a9040f34883b270b287ab80"'
    body:
      encoding: US-ASCII
      string: ! '{"id":1,"name":"(512) ALT","description":"A German-style amber ale
        that is fermented cooler than typical ales and cold conditioned like a lager.
        ALT means \"old\" in German and refers to a beer style made using ale yeast
        after many German brewers had switched to newly discovered lager yeast. This
        ale has a very smooth, yet pronounced, hop bitterness with a malty backbone
        and a characteristic German yeast character. Made with 98% organic two-row
        and Munich malts and US noble hops.","abv":6.0,"created_at":"2010-12-07T02:53:38Z","updated_at":"2010-12-07T02:53:38Z","brewery":{"id":1,"name":"(512)
        Brewing Company"}}'
  recorded_at: Sun, 03 Nov 2013 00:54:59 GMT
recorded_with: VCR 2.7.0
